trainer:
  _target_: trainer.Trainer

  loss:
    _target_: losses.CEGazePostAvg_DS
    reg_lambda: 1.0

  model:
    _target_: vit_pytorch.ViT
    image_size: 84
    patch_size: 14
    num_classes: 4
    dim: 384
    depth: 12
    heads: 6
    mlp_dim: 1536
    pool: 'cls'
    channels: 1
    dim_head: 64
    dropout: 0.0
    emb_dropout: 0.0

  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.01

  attention_extractor:
    _target_: utils.hook.AttentionExtractor

  training:
  
